body{
    background-color: #cecece;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form input{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
}
.text-red{
    color: red;
}